<h2> Create a Team and Heroes! </h2>

<form action="/teams" method="POST">


  <%# Team %>
  <label for="team_name">Team Name:</label>
  <input id="team_name" type="text" name="team[name]" >

  <label for="team_motto">Team Motto:</label>
  <input id="team_motto" type="text" name="team[motto]" >

  <%# Heroes %>

  <% 1.upto(3) do |i| %>
    <div class="hero">
      <h2> Hero <%= i %> </h2>
      <br><label for="member<%= i %>_name">Name</label><br>
      <input id="member<%= i %>_name" type="text" name="team[heroes][][name]" /><br>
      <label for="member<%= i %>_power">Power</label><br>
      <input id="member<%= i %>_power" type="text" name="team[heroes][][power]" /><br>
      <label for="member<%= i %>_bio">Biography</label><br>
      <input id="member<%= i %>_bio" type="text" name="team[heroes][][biography]" /><br><br>
    </div>
  <% end %>

  <input type="submit" value="submit">

</form>
